body {
  background-color: rgb(247, 233, 224);
  color: rgb(51, 42, 42);
  margin: 0px;
  height: 100svh;
}

main {
  display: block;
  width: 100svw;
  height: 100svh;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-anchor: auto;
}
main #top-image {
  display: block;
  position: relative;
  background: linear-gradient(transparent, black);
  height: calc(100svh - 50px);
  width: 100svw;
}
main #top-image #main-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #top-image button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  border: 1px solid goldenrod;
  border-radius: 10px;
}
main #top-image button img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
  height: 90%;
}
main #top-image button p {
  font-size: xx-small;
}
main #top-image .colors {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  bottom: 200px;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  background-color: rgb(247, 233, 224);
  box-sizing: border-box;
}
main #top-image .colors div {
  width: 70px;
  height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}
main #top-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: max(40px, 10%);
  padding: 0px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  width: 100svw;
  height: 54px;
  padding-bottom: 4px;
}
main #top-bar a {
  padding: 7px 14px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  text-align: center;
  text-decoration: none;
  color: rgb(247, 233, 224);
  background-color: rgb(51, 42, 42);
  border: 2px solid goldenrod;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
main #top-bar a:hover {
  color: rgb(51, 42, 42);
  background-color: rgb(247, 233, 224);
  border-color: firebrick;
}
main #top-bar a.active {
  color: rgb(51, 42, 42);
  background-color: rgb(247, 233, 224);
  border-color: goldenrod;
}
main section {
  height: 400px;
}
main #scrollbar-shade {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 15px;
  width: 4px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(90deg, transparent, rgb(247, 233, 224) 100%);
  z-index: 2;
}
main #top-bar-shade {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100svw;
  height: 4px;
  pointer-events: none;
  background: linear-gradient(transparent, rgb(247, 233, 224) 100%);
  z-index: 2;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  z-index: 3;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(74, 62, 62, 0.4);
  border-radius: 10px;
  border: 4px solid rgb(247, 233, 224);
}

::-webkit-scrollbar-track {
  background-color: rgb(247, 233, 224);
}

main {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100svw;
  height: 100svh;
}

.page {
  width: 50%;
  height: 50%;
}