<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Hjemmeside</title>

    <style>
        #top-bar,
        main,
        #image-btn {
            background-color: {{ primary_color }};
        }
        </style>

</head>
<body>
    
    <main id="main" class="bg-primary">
        {% block main %}
        <div id="top-image">
            <img id="main-image" src="{{ main_image_url }}" alt="Main Image">
            <button id="image-btn" class="bg-primary" onclick="changeMainImage()">
                <img id="image-btn-img" src="{{ url_for('static', filename='images/reload.png') }}" alt="Reload Icon">
                <p id="image-btn-p">Change Image</p>
            </button>
        </div>
        <div id="top-bar" style="background-size: 100% 100%">
            <a href="#portfolio"> PORTFOLIO </a>
            <a href="#about-me"> ABOUT ME </a>
            <a href="#feedback"> FEEDBACK </a>
        </div>
        
        <a href="/portfolio">My Portfolio Page</a>
        
        <section id="portfolio">
            <h1 class="bg-primary">Primary Color</h1>
            <h1 class="bg-secondary">Secondary Color</h1>
            <h1 class="bg-accent">Accent Color</h1>
            
        </section>
        
        <section id="about-me">
            This is the About Me preview.
            
        </section>
        
        <section id="feedback">
            This is the Feedback preview.
            
        </section>
        
        
        
        {% endblock %}
        <div class="scrollbar-shade"></div>
    </main>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>