<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <title>Hjemmeside</title>

        <style>
            #top-bar,
            #image-btn {
                background-color: {{ primary_color }};
            }
        </style>

    {% endblock %}

</head>
<body>
    
    <main id="main">
        {% block main %}
        <div id="top-image">
            <img id="main-image" src="{{ main_image_url }}" alt="Main Image">
            <button id="image-btn" class="bg-primary" onclick="changeMainImage()">
                <img id="image-btn-img" src="{{ url_for('static', filename='images/reload.png') }}" alt="Reload Icon">
                <p id="image-btn-p">Change Image</p>
            </button>
            <div class="colors">

                <div class="bg-primary">Primary Color</div>
                <div class="bg-secondary">Secondary Color</div>
                <div class="bg-accent">Accent Color</div>
            </div>
        </div>
        <div id="top-bar" style="background-size: 100% 100%">
            <div id="top-bar-shade"></div>
            <a href="#portfolio"> PORTFOLIO </a>
            <a href="#about-me"> ABOUT ME </a>
            <a href="#feedback"> FEEDBACK </a>
            <a href="#shop"> SHOP </a>
        </div>
        
        <a href="/portfolio">My Portfolio Page</a>
        
        <section id="portfolio">
            Portfolio
        </section>
        
        <section id="about-me">
            This is the About Me preview.
            
        </section>
        
        <section id="feedback">
            This is the Feedback preview.
            
        </section>

        <section id="shop">
            This is the Shop preview.
            <a href="/shop"> Go to Shop </a>
            
        </section>
        
        <div id="scrollbar-shade"></div>
        
        
        {% endblock %}
    </main>
    {% block scripts %}
        <!-- Local Scripts  -->
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% endblock %}
</body>
</html>