@import 'index';



main {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    gap: 15px;

    width: 100svw;
    height: 100svh;

}

btn.active {
    border: 1px solid black;
    border-radius: 4px;
}

#buttons {
    display: flex;
    flex-flow: row wrap;

    justify-content: center;


    max-width: 50%;
    // width: 50%;
    height: fit-content;

    column-gap: 25px;
    row-gap: 15px;

    
    > div {
        display: flex;
        flex-flow: row wrap;
        
        gap: 8px;

        width: fit-content;

        background-color: adjust-color($color: $primary-light-color, $lightness: -3%);
        padding: 4px;
        border-radius: $border-radius-large + 2px;

        justify-content: center;
    }

    
    btn {
        padding: 7px 14px;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 1000;
        text-align: center;
        text-decoration: none;

        color: $secondary-light-color;
        background-color: $primary-light-color;
        border: 2px solid $accent-light-color;


        border-radius: $border-radius-large;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;

        // Turn off text marking
        user-select: none;

        &.potent:hover {
            color: $secondary-light-color;
            background-color: adjust-color($color: $primary-light-color, $lightness: -4%);
        }
        
        &.active {
            color: $secondary-light-color;
            background-color: $primary-light-color;
            border-color: $accent-dark-color;
            
            &:hover {
                background-color: adjust-color($color: $primary-light-color, $lightness: -4%);
            }
           

        }
    }
}

#content {
    // display: none;
    
    width: 90svw;
    height: 800px;
    background-color: adjust-color($color: $primary-light-color, $lightness: -3%);
    padding: 8px;
    border-radius: $border-radius-large + 2px;
    
    > div {
        border-radius: $border-radius-large;
        overflow: hidden;
        padding: 0px;

    }


    }

