@import 'index';



main {
    display: flex;
    align-items: center;
    flex-flow: column wrap;

    width: 100svw;
    height: 100svh;

}

btn.active {
    border: 1px solid black;
    border-radius: 4px;
}


#content {
    // display: none;
    
    width: 90svw;
    height: 800px;
}

