$primary-light-color: rgb(247, 233, 224);
$primary-light-color-darker: adjust_color($primary-light-color, $lightness: -5%);
$secondary-light-color: rgb(51, 42, 42);
$accent-light-color: goldenrod;

$primary-dark-color: rgb(32, 31, 28);
$secondary-dark-color: gray;
$accent-dark-color: firebrick;

$shade-thickness: 5px;

$top-bar-height: 50px;
$image-height: calc(100svh - $top-bar-height);

$section-heading-height: 70px;
$section-content-height: 330px;

$scroll-bar-width: 15px;
$scroll-bar-height: 15px;

$border-radius-small: 4px;
$border-radius-large: 8px;

$golden-large: 61.8%;
$golden-small: 38.2%;



body {
    background-color: $primary-light-color;
    color: $secondary-light-color;
    
    margin: 0px;
    height: 100svh;

    padding-bottom: 10px;
    
    overflow: hidden;
    
    box-sizing: border-box;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: block;
    
    width: 100svw;
    height: 100svh;
    
    overflow-y: auto;
    overflow-x: hidden;
    overflow-anchor: auto;
    
    scroll-behavior: smooth;
    

    #top-image {
        display: block;
        position: relative;

        background: linear-gradient(transparent, black);

        height: $image-height;
        width: 100svw;

        #main-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        // #change-image-btn {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     flex-flow: column nowrap;

        //     font-size: xx-small;
        //     font-weight: 800;

        //     position: absolute;
        //     bottom: 50px;
        //     right: 50px;

        //     width: min-content;
        //     height: min-content;

        //     border: 1.5px solid $accent-light-color;
        //     border-radius: $border-radius-large;

        //     background-color: rgba($color: white, $alpha: 0.1);
        //     backdrop-filter: blur(2px);

        //     #change-image-btn-icon {
        //         object-fit: contain;
        //         width: 90%;
        //         height: 90%;
        //     }
        // }

        // .colors {
        //     display: none; // Hide for production
        //     // display: flex;
        //     flex-flow: row wrap;
        //     justify-content: center;
        //     align-items: center;

        //     padding: 20px;
        //     box-sizing: border-box;

        //     position: relative;
        //     bottom: 200px;

        //     width: fit-content;
        //     height: 100px;

        //     background-color: $primary-light-color;
        //     box-sizing: border-box;

        //     div {
        //         width: 70px;
        //         height: 100%;
        //         border-radius: $border-radius-small;
        //         box-sizing: border-box;
        //     }
        // }
    }

    #top-bar {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: max(40px, 10%);
        
        z-index: 100;
        
        position: sticky;
        top: 0px;
        
        background-color: $primary-light-color;
        // background: linear-gradient($primary-light-color 90%, transparent);
        
        width: 100svw;
        height: $top-bar-height + $shade-thickness;
        
        padding: 0px;

        border-bottom: 2px solid $primary-light-color-darker;

        
        // box-sizing: border-box;

        a {
            padding: 7px 14px;
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 1000;
            text-align: center;
            text-decoration: none;

            color: $primary-light-color;
            background-color: $secondary-light-color;
            border: 1px solid $accent-light-color;

            border-radius: $border-radius-large;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;

            &:hover {
                color: $secondary-light-color;
                background-color: $primary-light-color;
                border-color: $accent-dark-color;
            }

            &.active {
                color: $secondary-light-color;
                background-color: $primary-light-color;
                border-color: $accent-light-color;
            }
        }
    }
    

    .shade {
        content: "";
        display: block;
        position: absolute;

        pointer-events: none;
        z-index: 2;
    }

    #scrollbar-shade {
        top: 0px;
        right: $scroll-bar-width - 2px;
        width: $shade-thickness;
        height: 100%;

        background: linear-gradient(90deg, transparent, $primary-light-color 100%);
    }

    #top-bar-shade {
        bottom: $top-bar-height + $shade-thickness;
        left: 0px;
        width: 100svw;
        height: $shade-thickness;

        background: linear-gradient(transparent, $primary-light-color 100%);
    }

    section {
        height: $section-heading-height + $section-content-height;
        width: 100svw;
        width: calc(100svw - $scroll-bar-width);

        .heading {
            height: $section-heading-height;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;

            > * {
                padding: 0px;
                margin: 0px;
            }
        }

        .content-block {
            height: $section-content-height;
            
            padding: 10px 20px;

            box-sizing: border-box;
        }

        &#portfolio {
            padding-left: 0px;
            

            #portfolio-list {
                display: flex;
                flex-flow: row nowrap;

                column-gap: 8px;

                overflow-x: scroll;
                overflow-y: hidden;

                perspective: 1000px;
                
                .card {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 40px 1fr;
                    gap: 5px;

                    width: 200px;
                    min-width: 200px;
                    height: 100%;
                    max-height: 100%;
                    
                    padding: 10px 6px;
                    
                    border: 2px solid $secondary-light-color;
                    border-radius: $border-radius-large;
                    box-shadow: 0.4em 0.5em 0.5em -0.4em black;

                    color: $primary-dark-color;
                    text-decoration: none;
                    
                    box-sizing: border-box;

                    transform-origin: bottom center;
                    transform-style: preserve-3d;
                    transition: transform 200ms;
                    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
                    
                    &:hover,
                    &:focus {
                        transform: scale(1.01);
                    }

                    h2, p {
                        margin: 0px;
                    }

                    p {
                        line-height: 1.5;
                    }

                }
            }
        }

        &#about-me {
            
            background-color: rgb(246, 230, 211);
            
            #about-me-block {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;

                width: max(50%, 500px);
                column-gap: 5%;

                box-sizing: border-box;
                
                #about-me-text {
                    width: 60%;
                    
                    p {
                        font-size: 18px;
                        line-height: 1.6;
                    }
                }
                
                #about-me-img {
                    height: 100%;
                    max-height: inherit;
                    width: 35%;

                    img {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }

        &#contact {
            height: fit-content;
            
            #contact-block {
                height: fit-content;

            }
            
            #contact-form {
                .flex {
                    display: block;
                    flex-flow: row wrap;

                    >div {
                        margin: 20px;
                    }
                }

                margin: 10px 10px;
                padding: 10px 15px;

                border: 3px solid rgb(120, 120, 171);
                border-radius: $border-radius-large;

                max-width: calc(100svw - $scroll-bar-width - 25px);
                width: fit-content;

                height: fit-content;

                box-sizing: border-box;

                h3 {
                    margin: 0px 0px 3px -4px;
                }

                input,
                textarea {
                    //   background-color: $primary-background-color-darker;
                    //   border-color: $primary-background-color-lighter;
                    border-radius: 4px;
                    border: 2px solid $secondary-light-color;
                    color: $primary-dark-color;
                    margin: 4px 3px;
                    padding: 4px 2px;
                    font-size: medium;
                }

                label {
                    margin: 8px 3px;
                }

                #cats {
                    flex: 1;
                }

                #personal-info {
                    flex: 2;
                    
                    #message-div {

                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        
                        textarea {
                        width: $golden-large;
                        height: 200px;

                        resize: none;
                        }
                    }
                }

                #food {
                    flex: 1;
                }

                #order {
                    flex: 2;

                    padding: 4px 8px;

                    //   background-color: $primary-background-color-darker;
                    //   border: 3px solid $primary-background-color-lighter;
                    border-radius: $border-radius-small;
                }

                .required::after {
                    content: " *";
                    color: rgb(224, 3, 3);
                }

                .centered-one-line {
                    display: flex;
                    flex-flow: row wrap;

                    align-items: center;

                    label {
                        display: inline;
                        flex: 0 0 auto;
                        margin-right: 10px;
                    }

                    >div {
                        display: block;
                        height: 100%;
                        flex: 1 1 auto;
                    }
                }

                .force-next-to-be {
                    display: block;
                    width: fit-content;
                }

                #submit {
                    text-align: center;

                    button {
                        color: $primary-dark-color;
                        // background-color: $primary-background-color-lighter;
                        // border: 4px solid $primary-background-color-darker;
                        border-radius: 8px;
                        margin: 20px 0px;
                        width: 80px;
                        height: 35px;
                    }
                }
            }

            @media only screen and (min-width: 768px) {
                form {
                    justify-self: center;
                }
            }

            // Auto Fill
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                -webkit-background-clip: text;
                -webkit-text-fill-color: $secondary-light-color;
                transition: background-color 5000s ease-in-out 0s; // transition here does nothing in recent Chrome browsers, it's only a fallback solution for older versions of Chrome.
                box-shadow: inset 0 0 20px 20px adjust-color($color: $primary-light-color,
                        $red: -10,
                        $green: -10,
                        $blue: -10); //$primary-background-color-darker;
            }
        }
    }
    
    .center-screen {
        display: flex;
        justify-content: center;
    }


    @media only screen and (min-width: 769px) {
        #about-me-block {
            display: grid;
            grid-template-columns: repeat(2, 100px);
        }
    }
    @media only screen and (max-width: 768px) {
        #about-me-block {
            display: grid;
            grid-template-rows: repeat(2, 100px);
        }
    }
}


// Scroll Bar
::-webkit-scrollbar {
    width: $scroll-bar-width; // Width of the vertical scrollbar
    height: $scroll-bar-height; // Height of the horizontal scrollbar
    z-index: 3;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(74,
            62,
            62,
            0.4); // Color of the thumb (the draggable part)
    border-radius: 10px; // Rounded corners for the thumb
    border: 4px solid $primary-light-color;
}

::-webkit-scrollbar-track {
    background-color: $primary-light-color; // Color of the track (the background of the scrollbar)
    // background-color: ;
}